<section id="vademecum" class="vademecum container position-sticky">
    <div class="row">
        <div class="col-12 col-lg-8">
            <h2 class="it-page-section anchor-spacer" id="come-usare"></h2>
            <p></p>
            <ul>
                <li></li>
                <li></li>
            </ul>
            <p></p>
        </div>
        <div class="col-12 col-lg-4 affix-parent">
            <nav class="navbar it-navscroll-wrapper navbar-expand-lg it-top-navscroll affix-top">
                <button class="custom-navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarNav">1. Introduzione</button>
                <div class="navbar-collapsable" id="navbarNav">
                    <div class="overlay"></div>
                    <div class="close-div sr-only">
                        <button class="btn close-menu" type="button">chiudi</button>
                    </div>
                    <a class="it-back-button" href="#">
                        <svg class="icon icon-sm icon-primary align-top">
                            <use xlink:href="/assets/svg/sprite.svg#it-chevron-left"></use>
                        </svg>
                        <span>Indietro</span>
                    </a>
                    <div class="menu-wrapper">
                        <div class="link-list-wrapper">
                            <ul class="link-list">
                                <li class="nav-item">
                                    <a class="nav-link" href="#come-usare"><span></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>